@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

.fonted{
  font-family: 'Nunito', sans-serif;
  text-align: center;
}

.contained{
  margin-top: 5%;
  border-radius: 25px
}